@import "tailwindcss";

body {
  /* background-image: url(../src/assets/images/hero/background_top.jpg); */
}

@theme {
  --font-poppins: ["Poppins", "sans-serif"];
  --font-playwrite: ["Playwrite", "sans-serif"];

  --color-amarelo: #E6C744;
  --color-branco: #FFFFFF;
  --color-preto: #000000;
  --color-azulClaro: #C2C8DA;
  --color-amareloBack: #FBECA3;

  --backgroundImage-topo:{
    'heroBgImg': "url(../../assets/images/hero/background_top.png)",
  },
}