@import "tailwindcss";

body {
  /* background-image: url(../src/assets/images/hero/background_top.jpg); */
}

@theme {
  --default-font-family: ["Poppins", "sans-serif"];
  --font-playwrite: ["Playwrite", "sans-serif"];
  --color-amarelo: #E6C744;
  --color-branco: #FFFFFF;
  --color-preto: #000000;
  --color-azulClaro: #F4F6F5;
  --color-amareloBack: #FBECA3;
  --color-letrasAmarelo: #FDD200;
  --backgroundImage-topo:{
    'heroBgImg': "url(../../assets/images/hero/background_top.png)",
  },
}